{% spaceless %}
{% load url from future %}
<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="description" content="{{ config.description }}">
        <meta name="keywords" content="{{ config.keywords }}">
        <meta name="author" content="Katharsis">
        <meta name="robots" content="index, follow">
        <title>{% block title %}{{ config.title }} -{% endblock %} pl.python.org/planeta</title>
        <link rel="shortcut icon" href="{% url 'statics' 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% url 'statics' 'css/style.css' %}">
        <link rel="alternate" href="/planeta/feeds/atom" type="application/atom+xml" title="Kanał informacyjny PPCG Planeta | pl.python.org/planeta">
    </head>
	<body>
            <header>
                <figure></figure>
                <section id="top">
                <aside id="logo"><h1><a href="/planeta" title="Polska planeta programistów Python">Polska planeta programistów Python</a></h1></aside>
                <nav>
                    <ul>
                        {% for menu in menus %}
                            {% if request.path == menu.url or request.path == menu.url|add:"/" or menu.url != "/planeta" and menu.url in request.path or menu.url == "/planeta" and "/news/" in request.path %}
                                <li class="current"><a href="{{ menu.url }}" title="{{ menu.description }}">{{ menu.name }}</a></li>
                            {% else %}
                                <li><a href="{{ menu.url }}" title="{{ menu.description }}">{{ menu.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </section>
            <section id="bottom">
                <form action="{% url 'search-results' 1 %}" method="get">
                    {{ search.fraza }}
                    <input type="submit" title="Szukaj w aktualnościach" value="Szukaj" id="button_szukaj">
                </form>
                {% if site %}
                    <h2 id="update">{{ site }}</h2>
                {% elif confirmFeedRegister %}
                    <h2 id="update">Zgłoś bloga</h2>
                {% elif contactForm %}
                    <h2 id="update">Kontakt</h2>
                {% elif newsletter or confirmNewsletterRegister %}
                    <h2 id="update">Newsletter</h2>
                {% elif "/szukaj/" in request.path %}
                    <h2 id="update">Wyszukiwarka</h2>
                {% else %}
                    {% if error == "404" or error == "500" %}
                        <h2 id="update">Wystąpił błąd</h2>
                    {% else %}
                        <h2 id="update">Ostatnia aktualizacja: {{ config.update_data }}</h2>
                    {% endif %}
                {% endif %}
            </section>
		</header>
        <section id="center">
            <section id="block">
                {% if config.newsletter %}
                    <article>
                        <h3>Newsletter</h3>
                        <p>Zapisz się do newslettera aby raz w miesiącu otrzymać podsumowanie <strong>aktualności z planety</strong> oraz <strong>oferty pracy</strong> dla programistów Python.</p>
                        <p><br>Podaj swój adres e-mail.</p>
                        <form action="/planeta/newsletter/" method="post">
                            {% csrf_token %}
                            <input type="text" id="newsletter_email" name="email" title="Wpisz adres e-mail">
                            <input id="button" type="submit" title="Zapisz się do newslettera" value="ZAPISZ SIĘ">
                            {% if newsletter.email.errors %}
                                {% for error in newsletter.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <aside>
                                <input type="checkbox" name="regulation" id="id_regulation" title="Zaakceptuj regulamin">
                                <label for="id_regulation">Zaakceptuj <a href="/planeta/newsletter-regulamin" title="Newsletter regulamin">regulamin</a>.</label>
                                {% if newsletter.regulation.errors %}
                                    {% for error in newsletter.regulation.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </aside>
                        </form>
                    </article>
                    <aside class="space"></aside>
                {% endif %}
                {% if feeds %}
                    <article>
                        <h3>Blogerzy</h3>
                        <nav>
                            <ul>
                                {% for feed in feeds reversed %}
                                    <li>&#x2022; <a href="http://{{ feed.source }}/" title="{{ feed.author }}" rel="nofollow">{{ feed.author }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </article>
                {% endif %}
            </section>
            <section id="news">
                {% block content %}
                {% endblock %}
            </section>
        </section>
        <footer>Copyright &copy; 2013 by <a href="http://pl.python.org/" title="Polish Python Coders Group">Polish Python Coders Group</a>. Powered by <a href="https://bitbucket.org/katharsis/spreadthegospel" title="SpreadTheGospel - planet engine written in Python language and Django framework">SpreadTheGospel</a>.</footer>
        <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-4978557-3"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>
	</body>
</html>
{% endspaceless %}
