{% extends "base.html" %}
    {% block content %}
        {% for post in posts %}
            {% ifchanged %}<h3>{{ post.date|date:"j F Y"|lower }}</h3>{% endifchanged %}
            <article>
                <h4><aside class="author">{{ post.author }}: </aside><a href="/planeta/{{ post.url }}" title="{{ post.title}}">{{ post.title }}</a></h4>
                {% if post.text|safe|wordcount > truncatewords %}
                    {{ post.text|safe|truncatewords_html:truncatewords }}
                    <p class="readmore"><a href="/planeta/{{ post.url }}">Czytaj więcej</a></p>
                {% else %}
                    {{ post.text|safe }}
                {% endif %}
            </article>
        {% endfor %}
        <section id="pagination">
            {% if posts.has_next %}
                <aside id="old"><a href="/planeta/news/{{ posts.next_page_number }}/" title="Starsze newsy">&larr; Starsze</a></aside>
            {% endif %}
            {% if posts.has_previous %}
                <aside id="new"><a href="/planeta/news/{{ posts.previous_page_number }}/" title="Nowsze newsy">Nowsze &rarr;</a></aside>
            {% endif %}
        </section>
    {% endblock %}
