{% extends "base.html" %}
    {% block title %}{% if post.title %}{{ post.title }} -{% endif %}{% endblock %}
    {% block content %}
        <h3>{{ post.date|date:"j F Y"|lower }}</h3>
        <article>
            <h4><aside class="author">{{ post.author }}: </aside><a href="/{{ post.url }}" title="{{ post.title}}">{{ post.title }}</a></h4>
            {{ post.text|safe }}
        </article>
    {% endblock %}
