{% extends "base.html" %}
    <title>{% block title %}Newsletter -{% endblock %} pl.python.org/planeta</title>
    {% block content %}
        {% if validation %}
            <p class="sukces">Zgłoszenie zostało przyjęte.</p>
            <p class="mp">Sprawdź skrzynkę pocztową, na którą zostanie wysłana prośba o potwierdzenie zapisu. Gdyby potwierdzenie nie dotarło, skontaktuj się z nami z poziomu <a href="/planeta/kontakt" title="Formularz kontaktowy">formularza kontaktowego</a>.</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% elif confirmNewsletterRegister == "yes" %}
            <p class="sukces">Dziękujemy za zapisanie się do naszego newslettera.</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% elif confirmNewsletterRegister == "no" %}
            <p class="error">Twój link aktywacyjny wygasł lub podany adres e-mail znajduje się już w bazie danych.</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% else %}
            <p class="error">Błędnie wypełniony formularz</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% endif %}
    {% endblock %}
