{% extends "base.html" %}
    <title>{% block title %}Wyszukiwarka -{% endblock %} pl.python.org/planeta</title>
    {% block content %}
        {% if results %}
            <h2>Znaleziono {{ amount_of_results }} 
            {% if amount_of_results == 1 %}wynik
            {% elif amount_of_results > 1 and amount_of_results < 5 %}wyniki
            {% else %}wyników
            {% endif %}
            wyszukiwania dla frazy: <em>{{phrase}}</em></h2>
            {% for result in results %}
                {% ifchanged %}<h3>{{ result.date|date:"j F Y"|lower }}</h3>{% endifchanged %}
                <article>
                    <h4><aside class="author">{{ result.author }}: </aside><a href="/planeta/{{ result.url }}" title="{{ result.title}}">{{ result.title }}</a></h4>
                    {% if result.text|safe|wordcount > truncatewords %}
                        {{ result.text|safe|truncatewords_html:truncatewords }}
                        <p class="readmore"><a href="/planeta/{{ result.url }}">Czytaj więcej</a></p>
                    {% else %}
                        {{ result.text|safe }}
                    {% endif %}
                </article>
            {% endfor %}
            <section id="pagination">
                {% if results.has_next %}
                    <aside id="old"><a href="/planeta/szukaj/{{ results.next_page_number }}/?fraza={{ phrase }}" title="Starsze newsy">&larr; Starsze</a></aside>
                {% endif %}
                {% if results.has_previous %}
                    <aside id="new"><a href="/planeta/szukaj/{{ results.previous_page_number }}/?fraza={{ phrase }}" title="Nowsze newsy">Nowsze &rarr;</a></aside>
                {% endif %}
            </section>
        {% else %}
            <p class="error">Brak wyników wyszukiwania.</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% endif %}
    {% endblock %}
