{% extends "base.html" %}
    {% block title %}{% if site.title %}{{ site.title }} -{% endif %}{% endblock %}
    {% block content %}
        {% if confirmFeedRegister == "yes" %}
            <p class="sukces">Zgłoszenie zostało przyjęte. Dziękujemy.</p>
            <p class="mp">W trosce o naszych czytelników, każdy nowo zgłoszony blog musi przejść przez dodatkowy proces weryfikacji. Moderator dokona tych czynności tak szybko jak będzie to możliwe.</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% elif confirmFeedRegister == "no" %}
            <p class="error">Wystąpił nieznany błąd.</p>
            <p class="mp">Spróbuj <a href="../" title="Zgłoś bloga">jeszcze raz</a> lub wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% elif confirmFeedRegister == "uniq" %}
            <p class="error">Podany adres kanału znajduje się już w bazie danych.</p>
            <p class="mp">Spróbuj <a href="../" title="Zgłoś bloga">jeszcze raz</a> lub wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% endif %}
        {% if contactForm == "yes" %}
            <p class="sukces">Wiadomość została wysłana. Dziękujemy.</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% elif contactForm == "no" %}
            <p class="error">Wystąpił nieznany błąd.</p>
            <p class="mp">Spróbuj <a href="../" title="Zgłoś bloga">jeszcze raz</a> lub wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% endif %}
        {% if error == "404" or error == "500" %}
            <p class="error">Nie odnaleziono strony lub pliku.</p>
            <p class="mp">Wróć do <a href="/planeta" title="Strona główna">strony głównej</a>.</p>
        {% endif %}
        {{ site.text|safe }}
        {% if site.selectedModule == 0 %}
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <fieldset>
                    <label for="id_author">Imię i nazwisko/Nick</label>
                    {{ feedRegisterForm.author }}
                    {% if feedRegisterForm.author.errors %}
                        {% for error in feedRegisterForm.author.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <label for="id_email">E-mail</label>
                    {{ feedRegisterForm.email }}
                    {% if feedRegisterForm.email.errors %}
                        {% for error in feedRegisterForm.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <label for="id_source">RSS/ATOM</label>
                    {{ feedRegisterForm.source }}
                    {% if feedRegisterForm.source.errors %}
                        {% for error in feedRegisterForm.source.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <label for="id_token">Token</label>
                    <aside>
                        {{ feedRegisterForm.token }}
                        <img src="/planeta/captcha.png/subpage_{{ site.id }}" width="120" height="30" alt="Przepisz token z obrazka" title="Przepisz token z obrazka">
                    </aside>
                    {% if feedRegisterForm.token.errors %}
                        {% for error in feedRegisterForm.token.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if token_error %}
                        <p>{{ token_error }}</p>
                    {% endif %}
                    <aside>
                        {{ feedRegisterForm.regulation }}
                        <label for="id_regulation_sub">Zaakceptuj <a href="/planeta/zglos-bloga-regulamin" title="Regulamin planety">regulamin</a>.</label>
                    </aside>
                    {% if feedRegisterForm.regulation.errors %}
                        {% for error in feedRegisterForm.regulation.errors %}
                            <p class="regulation">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <input id="id_submit" type="submit" title="Wyślij zgłoszenie" value="Wyślij zgłoszenie">
                </fieldset>
            </form>
        {% elif site.selectedModule == 1 %}
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <fieldset>
                    <label for="id_author">Imię i nazwisko/Nick</label>
                    {{ contactForm.author }}
                    {% if contactForm.author.errors %}
                        {% for error in contactForm.author.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <label for="id_email">E-mail</label>
                    {{ contactForm.email }}
                    {% if contactForm.email.errors %}
                        {% for error in contactForm.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <label for="id_topic">Temat</label>
                    {{ contactForm.topic }}
                    {% if contactForm.topic.errors %}
                        {% for error in contactForm.topic.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <label for="id_message">Wiadomość</label>
                    {{ contactForm.message }}
                    {% if contactForm.message.errors %}
                        {% for error in contactForm.message.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <label for="id_token">Token</label>
                    <aside>
                        {{ contactForm.token }}
                        <img src="/planeta/captcha.png/subpage_{{ site.id }}" width="120" height="30" alt="Przepisz token z obrazka" title="Przepisz token z obrazka">
                    </aside>
                    {% if contactForm.token.errors %}
                        {% for error in contactForm.token.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if token_error %}
                        <p>{{ token_error }}</p>
                    {% endif %}
                    <input id="id_submit" type="submit" title="Wyślij wiadomość" value="Wyślij wiadomość">
                </fieldset>
            </form>
        {% endif %}
    {% endblock %}
